

/*Font-size*/
$font-size-12:12px;
$font-size-14:14px;
$font-size-20:20px;


/*Common colors */
$light-grey-color:#ddd;
$light-green-color:#7dbb46;
$light-blue-color:#a6dced;
$white-color:#fff;
$color-black:#212121;



body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

p {
    margin: 0;
}

header {
   border-width: 1px 0 1px 0;
   border-style: solid;
   border-color: $light-grey-color;
   padding: 10px;


    p {
       display: inline-block;

       &:first-child {
        font-size: $font-size-20;
        color:$color-black;
        width: 50%;
      
       }
    }

    .cart {
        background: $light-green-color;
        color: $white-color;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
}



.section {
    margin: 20px;
    float: left;
    width: 70%;

    .item-container {
        width: 31%;
        border: 1px solid $light-grey-color;
        float: left;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        .top-section {
            position: relative;

              img {
                  width: 100%;
              }

              .discount-price {
                position: absolute;
                top: 20px;
                background: $light-green-color;
                color: $white-color;
                font-size: $font-size-12;
                padding: 10px 15px;
              }
        }

        .bottom-section {
            width: 93%;
            float: left;
            padding: 10px;
            position: relative;

            div {
                width: 50%;
                float: left;

              
               

                &:first-child {
                     .item {
                        text-transform: capitalize;
                        margin-bottom: 5px;
                     }

                     .actual-price {
                        color: red;
                        text-decoration: line-through;

                        span {
                            color:$color-black;
                        }
                     }

                     .discount-price {
                            font-weight: bold;
                            margin-left: 15px;
                           }
                   
                }
            }
            .add-to-cart {
                position: absolute;
                bottom: 10px;
                right: 10px;

                button {
                    background: transparent;
                    border: 1px solid $light-green-color;
                    padding: 5px;
                    border-radius: 0;
                    text-transform: capitalize;
                    float: right;
                    cursor: pointer;

                    &:disabled {
                        cursor: not-allowed! important;
                    }
                }

            }
        }
    }
}

aside {
    width: 27%;
    float: left;
    margin: 20px 0;

    .top-container {
        .header {
            border-width: 1px 0 0  0;
            border-style: solid;
            border-color: $light-grey-color;
        }

        p {
            display: inline-block;
            width: 32%;
            padding: 20px 0;
            

            &:first-child,&:nth-child(2) {
              width: 40%;
            }

           &:last-child {
            width: 17%;
           }
        }
    }

    .items-display-container {
        padding: 20px 0;
        border-width: 1px 0 1px  0;
        border-style: solid;
        border-color: $light-grey-color;

          button {
              background: transparent;
              border:none;
              font-size: 20px;
              position: relative;
              top: 3px;
              cursor: pointer;
          }

          input {
              width:30px;
              text-align: center;
              width: 40px;
              text-align: center;
              height: 40px;
              margin-bottom: 0;
              border-width: 1px 1px 1px  1px;
              border-style: solid;
              border-color: $light-grey-color;
          }

          .cart {
             ul  {
                 li {
                    border: 1px solid $light-grey-color;
                    padding: 10px 5px;

                    span {
                        img {
                            width: 20px;
                            position: relative;
                            top: 3px;
                        }

                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                 }
             }
          }

        .cart,.qty{
            width: 40%;
            display: inline-block;
        }

        .price {
            width: 17%; 
            display: inline-block;
            list-style-type: none;
            font-weight: bold; 

            ul {
                li {
                    height: 44px;
                }
            }
        }
    

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                margin-bottom: 20px;
              }
        }
    }

    .total-container {
        border: 1px solid $light-grey-color;
        margin-top: 30px;

        h1 {
           
            margin: 10px 20px;
        }

          

         div {
            margin: 10px 24px;

           span {
                 width:50%;
                 display: inline-block;

                 &:last-child {
                     text-align: right;
                 }
             }
         }

         .order-total {
            background: #f5f5f5;
            padding: 10px 24px;
            margin: 0;
         }
    }
}


@media only screen and (max-width:1300px) {
    .section {
        margin: 0;
        width: 100%;
    }

    aside {
        width: 40%;
       margin: 20px 20px;
}


}